<div *ngIf="appointment$ | async as appointment">
  <p-accordion class="w-full" *ngIf="getApprovedUsers(appointment) as approved">
    @if (approved.length === 0) {
    <p class="text-right">No online participants</p>
    } @else {
    @for (participation of approved; track participation.id) {
    <p-accordionTab [cache]="false">
      <ng-template pTemplate="header">
        <div class="w-full flex justify-content-between align-items-center">
          <div class="flex align-items-center gap-2">
            <span class="pi pi-user mr-2"></span>
            <p>{{ participation.user.name }} {{ participation.user.surname }}</p>
          </div>
        </div>
      </ng-template>
      <div class="flex justify-content-between align-items-end">
        <div>
          <div class="flex gap-4">
            <div class="flex align-items-center gap-2">
              <i class="pi pi-hashtag"></i>
              <p>{{ participation.user.username }} </p>
            </div>
            <div class="flex align-items-center gap-2">
              <i class="pi pi-calendar"></i>
              <p>{{ participation.user.birthDate }} </p>
            </div>
          </div>
          <div class="flex align-items-center gap-2">
            <i class="pi pi-map"></i>
            <p>{{ participation.user.location.name }} </p>
          </div>
        </div>
        <div>
          <p-button icon="pi pi-eye" [rounded]="true" [text]="true" severity="secondary"
            (onClick)="showUser(participation.user.id)" />
          <ng-container *ngIf="viewerId$ | async as viewerId">
            @if (viewerId === appointment.organizerId) {
            <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger"
              (click)="reject(participation, appointment)" />
            }
          </ng-container>
        </div>
      </div>
    </p-accordionTab>
    }
    }
  </p-accordion>
  <p-divider styleClass=" mt-0" />

  <p-tag *ngIf=" appointment.totalPlayers - appointment.missingPlayers as offlinePlayers " [value]="'+' + offlinePlayers
  + ' offline participants'" class="inline-flex justify-content-end w-full mb-3" />

  <p-divider styleClass="mt-0" />

  <div class="w-20rem ml-auto" *ngIf="getRejectedUsers(appointment) as rejected">
    @if (rejected.length) {
    <p-panel header="Rejected Players" [toggleable]="true" [collapsed]="true">
      @for (participation of rejected; track participation.id) {
      <p-button [label]="participation.user.name + participation.user.surname " [link]="true"
        (click)="showUser(participation.user.id)" />
      }
    </p-panel>
    }
  </div>

</div>