.offset-flex {
  // display: flex;
  // flex-wrap: wrap;
  // gap: 20px;
  // justify-content: flex-start;

  display: grid;
  grid-template-columns: repeat(4, 25rem);
  gap: 2rem;
  margin: 2rem;
  justify-content: center;
  padding: initial;

  >*:nth-child(2) {
    margin-top: 7rem;
  }

  >*:nth-child(4) {
    margin-top: 7rem;
  }

  >*:nth-child(4n + 5) {
    margin-top: -7rem;
  }

  >*:nth-child(4n + 7) {
    margin-top: -7rem;
  }

}

.controls {
  width: 25rem;
  height: 7rem;
  position: absolute;
  top: 0;
  left: calc(50% - 13.5rem);
  transform: translateX(-50%);
}

@media only screen and (max-width: 1692px) {
  .controls {
    left: 50%;
  }

  .offset-flex {
    grid-template-columns: repeat(3, 25rem);

    >*:nth-child(2) {
      margin-top: 0;
    }

    >*:nth-child(4) {
      margin-top: 0;
    }

    >*:nth-child(4n + 5) {
      margin-top: 0;
    }

    >*:nth-child(4n + 7) {
      margin-top: 0;
    }

    >*:nth-child(2) {
      margin-top: 7rem;
    }

    >*:nth-child(3n + 4) {
      margin-top: -7rem;
    }

    >*:nth-child(3n + 6) {
      margin-top: -7rem;
    }
  }
}

@media only screen and (max-width: 1322px) {
  .controls {
    left: calc(50% + 13.5rem);
  }

  .offset-flex {

    grid-template-columns: repeat(2, 25rem);

    >*:nth-child(2) {
      margin-top: 0;
    }

    >*:nth-child(3n + 4) {
      margin-top: 0;
    }

    >*:nth-child(3n + 6) {
      margin-top: 0;
    }


    >*:nth-child(2) {
      margin-top: 7rem;
    }

    >*:nth-child(2n + 3) {
      margin-top: -7rem;
    }
  }
}

@media only screen and (max-width: 952px) {
  .controls {
    left: 50%;
  }

  .offset-flex {

    grid-template-columns: repeat(1, 25rem);

    >*:nth-child(n) {
      margin-top: 0;
    }

    >*:first-child {
      margin-top: 7rem;
    }
  }
}