<p-card header="Hi, Welcome!" subheader="Craete an account">
  <div [formGroup]="formGroup" class="form">
    <p-stepper [linear]="true" transitionOptions="400ms cubic-bezier(0.86, 0, 0.07, 1)">
      <p-stepperPanel>
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-prevCallback="prevCallback"
          let-index="index">
          <div class="flex align-items-center gap-3 mb-4">
            <p-floatLabel>
              <input pInputText id="username" autocomplete="off" formControlName="username" required />
              <label for="username">Username</label>
            </p-floatLabel>
          </div>

          <div class="flex align-items-center gap-3 mb-4">
            <span class="p-float-label">
              <p-password id="password" [feedback]="false" formControlName="password" inputStyleClass="w-full"
                styleClass="w-full" required="true" />
              <label for="password">Password</label>
            </span>
          </div>

          <div class="flex align-items-center gap-3 mb-4">
            <span class="p-float-label">
              <p-password id="password" [feedback]="false" formControlName="confirmPassword" inputStyleClass="w-full"
                styleClass="w-full" required="true" />
              <label for="password">Confirm Password</label>
            </span>
          </div>

          <div class="flex justify-content-end">
            <p-button (onClick)="nextCallback.emit()" icon="pi pi-arrow-right" iconPos="right" rounded="true" />
          </div>

        </ng-template>
      </p-stepperPanel>

      <p-stepperPanel>
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-prevCallback="prevCallback"
          let-index="index">
          <div class="flex align-items-center gap-3 mb-4">
            <p-floatLabel>
              <input pInputText id="name" autocomplete="off" formControlName="name" required />
              <label for="name">Name</label>
            </p-floatLabel>
          </div>

          <div class="flex align-items-center gap-3 mb-4">
            <p-floatLabel>
              <input pInputText id="surname" autocomplete="off" formControlName="surname" required />
              <label for="surname">Surname</label>
            </p-floatLabel>
          </div>

          <div class="flex align-items-center gap-3 mb-4">
            <p-floatLabel>
              <input pInputText id="phonenumber" autocomplete="off" formControlName="phoneNumber" required />
              <label for="phonenumber">Phone number</label>
            </p-floatLabel>
          </div>

          <div class="flex justify-content-between">
            <p-button (onClick)="prevCallback.emit()" icon="pi pi-arrow-left" iconPos="left" rounded="true" />
            <p-button (onClick)="nextCallback.emit()" icon="pi pi-arrow-right" iconPos="right" rounded="true" />
          </div>
        </ng-template>
      </p-stepperPanel>

      <p-stepperPanel>
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-prevCallback="prevCallback"
          let-index="index">
          <div class="flex align-items-center gap-3 mb-4 w-full">
            <p-floatLabel class="w-full">
              <p-calendar id="birthdate" formControlName="birthDate" [inputStyle]="{'width':'100%'}"
                [style]="{'width':'100%'}" required="true" />
              <label for="birthdate">Birth date</label>
            </p-floatLabel>
          </div>


          <div class="flex align-items-center gap-3 mb-4">
            <p-floatLabel>
              <p-autoComplete id="location" [suggestions]="suggestions" optionLabel="description"
                formControlName="location" (completeMethod)=" getLocationSuggestions($event)" styleClass="w-full"
                inputStyleClass="w-full" required="true" />
              <label for="location">Location</label>
            </p-floatLabel>
          </div>

          <div class="flex align-items-center gap-3 mb-4">
            <p-floatLabel>
              <textarea id="bio" rows="5" cols="30" pInputTextarea formControlName="biography"></textarea>
              <label for="bio">Biography</label>
            </p-floatLabel>
          </div>

          <div class="flex justify-content-between">
            <p-button (onClick)="prevCallback.emit()" icon="pi pi-arrow-left" iconPos="left" rounded="true" />
            <p-button (onClick)="submit()" [loading]="loading" icon="pi pi-check" iconPos="right" rounded="true" />
          </div>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
    <p-messages key="register" [hideTransitionOptions]="'0ms'" />
  </div>
</p-card>