@import "primeicons/primeicons.css";

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: var(--text-color);
  font-family: "Inter var", sans-serif;
}



.p-dropdown-items-wrapper {
  @extend .nice-scrollbar;
}

.nice-scrollbar::-webkit-scrollbar {
  height: .5rem;
  width: .5rem;
}

.nice-scrollbar::-webkit-scrollbar-track {
  display: none;
}

.nice-scrollbar::-webkit-scrollbar-thumb {
  background: #3B82F6;
  border-radius: 99px;
}

.border-round-full {
  border-radius: 99px;
}

.object-center {
  object-fit: cover;
  object-position: center center;
}

.w-unset {
  width: unset !important;
}

.label {
  color: #64748b;
  margin-top: -1rem;
}

.font-lighter {
  font-weight: 200;
}

.ar169 {
  aspect-ratio: 16 / 9;
}

.ar-square {
  aspect-ratio: 1 / 1;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inset-0 {
  inset: 0;
}