<div class="p-4 h-full flex overflow-auto nice-scrollbar" *ngIf="info">
  <div class="flex flex-column gap-4 align-items-center m-auto" *ngrxLet="viewerId$ | async as viewerId">
    <div class="flex gap-4">
      <div class="grow-0 w-10rem h-10rem relative border-round-xl overflow-hidden">
        <div *ngIf="image$ | async as imageSrc" class="w-full h-full">
          <img class="w-full h-full object-center " [src]="imageSrc" alt="Users profile image">
        </div>
        @if(info.user.id === viewerId) {
        <div class="absolute top-0 right-0 flex align-items-start justify-content-end gap-2 p-2 bg-white"
          style="border-bottom-left-radius: 10px;">
          @if(info.user.imageName === null) {
          <input id="image-upload" class="hidden" type="file" (change)="onFileChange($event)" accept="image/*">
          <label for="image-upload" class="upload">
            <i class="pi pi-upload cursor-pointer"></i>
          </label>
          } @else {
          <i class="pi pi-trash cursor-pointer" (click)="deleteImage()"></i>
          }
        </div>
        }
      </div>
      <div>
        <div class="flex align-items-center gap-1">
          <i class="pi pi-id-card"></i>
          <p>{{ info.user.name }} {{ info.user.surname }}</p>
        </div>
        <div class="flex gap-4">
          <div class="flex align-items-center gap-1">
            <i class="pi pi-hashtag"></i>
            <p>{{ info.user.username }} </p>
          </div>
          <div class="flex align-items-center gap-1">
            <i class="pi pi-calendar"></i>
            <p>{{ info.user.birthDate }} </p>
          </div>
        </div>
        <div class="flex align-items-center gap-1">
          <i class="pi pi-map"></i>
          <p>{{ info.user.location.name }} </p>
        </div>
        <div class="flex align-items-center gap-1" *ngIf="info.user.biography as bio">
          <i class="pi pi-address-book"></i>
          <p>{{ bio }}</p>
        </div>
      </div>
    </div>
    <div class="flex-center flex-column gap-2 -mb-4">
      @if (ratingStats) {
      <h2 class="m-0 text-3xl">{{ getFormatedAvg(ratingStats) }}</h2>
      <p class="m-0 -mt-2 text-sm text-300">{{ ratingStats.count }} ratings</p>
      }

      @if(viewerId !== null && info.user.id !== viewerId) {
      @if (myRating) {
      <p-rating [ngModel]="myRating.value" (onRate)="ratingChanged($event, viewerId)" (onCancel)="ratingRemoved()"
        [cancel]="myRating.value !== 0" />
      }
      }
    </div>
    <div class="flex gap-4">
      <div class="flex flex-column align-items-center">
        <p-knob [(ngModel)]="info.stats[0].organizedAppointments" [readonly]="true"
          [max]="info.stats[0].maxOrganizedAppointments || 1" />
        <label>Organized Appointments</label>
      </div>
      <div class="flex flex-column align-items-center">
        <p-knob [(ngModel)]="info.stats[0].participatedAppointments" [readonly]="true"
          [max]="info.stats[0].maxParticipations || 1" />
        <label>Participated Appointments</label>
      </div>
    </div>
  </div>
</div>