<div class="card flex justify-content-center">
  <p-card [style]="{ width: '25rem' }" styleClass="overflow-hidden">
    <ng-template pTemplate="header">
      <div class="w-full h-full relative">
        <img alt="Card" [src]="appointment.sport.imageUrl" class="object-center w-full ar169" />
        <div class="overlay">
          <h1 class="ml-4 mb-0 text-300 font-lighter">
            {{ appointment.sport.name }}
          </h1>
          <!-- <h2 class="ml-4 mt-2 text-white">{{ appointment.date }} {{ appointment.startTime }}</h2> -->
          <div class="flex justify-content-between w-full">
            <h2 class="ml-4 mt-2 text-white">{{ appointment.date }}</h2>
            <h2 class="mr-4 mt-2 text-white">{{ appointment.startTime }}</h2>
          </div>
        </div>

        <div class="absolute top-0 right-0 m-1 flex flex-nowrap align-items-center cursor-pointer"
          (click)="print(appointment)">
          <!-- <p>{{ appointment.organizer.name }}</p> -->
          <p class="m-0 text-white">Aleksandar Prokopovic</p>
          <span class="pi pi-crown m-2 text-white"></span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="content" styleClass="bg-white">
      <div class="relative">
        @if (appointment.additionalInformation) {
        <div id="info" [ngClass]="{'open': additionalInfoVisible}" (click)="toggleAdditionalInfo()">
          <div>
            <p>Additional info</p>
          </div>
          <div class="overflow-auto w-full overflow-auto nice-scrollbar">
            <p class="text-center">{{ appointment.additionalInformation }}</p>
          </div>
          <!-- <p-dialog [(visible)]="additionalInfoVisible" [modal]="true" header="Additional Information"
            [style]="{ width: '25rem' }" [resizable]="false" [dismissableMask]="true">
            <p>{{ appointment.additionalInformation }}</p>
          </p-dialog> -->
        </div>
        }

        <div class="flex align-items-center mt-2">
          <span class="pi pi-clock mr-2"></span>
          <p class="m-0">{{ getFormatedDuration() }}</p>
        </div>
        <div class="flex align-items-center mt-2">
          <span class="pi pi-map-marker mr-2"></span>
          <p class="m-0 text-overflow-ellipsis">
            {{ appointment.location.name }}
          </p>
        </div>
        <div class="flex align-items-center mt-2">
          <span class="pi pi-users mr-2"></span>
          <p class="m-0">
            {{ getJoinedCount() }} / {{ appointment.totalPlayers }}
          </p>
        </div>
        <div class="flex align-items-center mt-2">
          <span class="pi pi-tag mr-2"></span>
          <p class="m-0">{{ appointment.pricePerPlayer }}€ per player</p>
        </div>
        <div class="flex align-items-center mt-2">
          <span class="pi pi-money-bill mr-2"></span>
          <p class="m-0">
            {{ appointment.surface.name }} -
            {{ appointment.environment == 0 ? 'Outdoors' : 'Indoors' }}
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        @if (appointment.organizerId == viewerId) {
        <p-button icon="pi pi-users" severity="secondary" (click)="showParticipants()" />
        <p-button label="Edit" severity="secondary" class="w-full" styleClass="w-full" routerLink="../appointment-form"
          [queryParams]="{ id: appointment.id }" />
        <p-button label="Delete" severity="danger" class="w-full" styleClass="w-full" />
        } @else if (isRejected) {
        <p-button severity="secondary" class="w-full" styleClass="w-full" label="Rejected" disabled />
        <p-button icon="pi pi-users" (click)="showParticipants()" />
        } @else {
        <p-button severity="primary" class="w-full" styleClass="w-full" (onClick)="click()" (mouseenter)="mouseenter()"
          (mouseleave)="mouseleave()">
          <ng-template pTemplate="content">
            <div class="m-auto">
              @if (viewerId == null) { @if (isHovering) {
              <span class="p-button-label ml-1 mr-1">You must be signed in to join</span>
              } @else {
              <span class="p-button-label ml-1">Join</span>
              }
              } @else {
              @if (appointment.organizerId != viewerId) {
              @if (isJoined) {
              @if (isHovering) {
              <i class="pi pi-circle"></i>
              <span class="p-button-label ml-1">Leave</span>
              } @else {
              <i class="pi pi-check-circle"></i>
              <span class="p-button-label ml-1">Joined</span>
              }
              } @else {
              <span class="p-button-label ml-1">Join</span>
              }
              }
              }
            </div>
          </ng-template>
        </p-button>

        <p-button icon="pi pi-users" (click)="showParticipants()" />
        }
      </div>
    </ng-template>
  </p-card>
</div>