@if (ups !== null) {
<p-card [header]="ups.sport.name" styleClass="block w-20rem">
  <ng-template pTemplate="header">
    <img alt="Card" [src]="getImageUrl()" class="object-center w-full ar169" />
  </ng-template>
  <div class="flex justify-content-between align-items-end gap-3 mt-1">
    <p-rating [(ngModel)]="rating" [cancel]="false" (onRate)="onRate($event)" />
    <p-button icon="pi pi-trash" severity="danger" (onClick)="delete()" />
  </div>
</p-card>
} @else if (ups === null) {
<p-button icon="pi pi-plus" [rounded]="true" [text]="true" [raised]="true"></p-button>
}