::ng-deep {
  .p-inplace-display {
    width: 100% !important;
    padding-top: 0;
    padding-bottom: 0;
  }

  .p-inplace-content {
    width: 100% !important;
    display: flex;
    flex-wrap: nowrap;
  }
}