<div>
  <div class="flex h-full flex-nowrap gap-2 justify-content-center align-items-center" *ngIf="user$ | async as user">
    <div class="">
      <img [src]="getImageURL(user.imageName)" alt="profile picture"
        class="w-3rem h-3rem border-round-full object-center cursor-pointer" routerLink="profile">
    </div>
    <div class="mr-2">
      <p class="font-semibold	m-1">{{ user.name }}</p>
      <p class="text-700 m-1"> {{ user.surname }}</p>
    </div>
    <div class="">
      <p-button icon="pi pi-cog" [rounded]="true" [text]="true" severity="secondary" (onClick)="op.toggle($event)" />
      <p-overlayPanel #op>
        <p-button label="Logout" [rounded]="true" severity="secondary" text="true" icon="pi pi-sign-out"
          (onClick)="this.logout()" />
      </p-overlayPanel>
    </div>
  </div>
</div>