<p-menubar>
  <ng-template pTemplate="start" class="ml-8">
    <span class="ml-5"></span>
    <img class="h-4rem cursor-pointer	" src="placeholder-logo.png" alt="logo" routerLink="/">
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2" *ngIf="authStatus != null">
      @if (authStatus == 1) {
      <!-- @if (1) { -->
      <app-profile-summary></app-profile-summary>
      } @else {
      <p-button (onClick)="showSignInDialog()" label="Sign In" outlined="false" text="true" />
      <p-button (onClick)="goToSingUpPage()" label="Sign Up" outlined="true" />
      }
      <span class="mr-5"></span>
    </div>
  </ng-template>
</p-menubar>
<router-outlet></router-outlet>
<p-toast key="global" position="bottom-left"></p-toast>