<div class="flex flex-column h-small-screen" *ngrxLet="authStatus$ as authStatus">
  <p-menubar class="flex-grow-0">
    <ng-template pTemplate="start">
      <div class="flex align-items-center">
        <span class="w-1rem flex-shrink-1"></span>
        <p-button [icon]="navigationVisible === true ? 'pi pi-times' : 'pi pi-bars'" [rounded]="true" [text]="true"
          (click)="toggleNavigation()" severity="secondary" *ngIf="authStatus !== null && authStatus !== 0" />
        <img class=" h-4rem cursor-pointer" src="placeholder-logo.png" alt="logo" routerLink="/" />
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2" *ngIf="authStatus !== null">
        @if (authStatus === 0) {
        <p-button label="Sign In" outlined="false" text="true" (onClick)="showSignInDialog()" />
        <p-button label="Sign Up" outlined="true" routerLink="signup" />
        } @else {
        <p-button label="Home" icon="pi pi-home" severity="secondary" routerLink="" text="true" />
        <p-button label="Profile" icon="pi pi-user" severity="secondary" routerLink="/profile" text="true" />
        }
        <span class="w-1rem flex-shrink-1"></span>
      </div>
    </ng-template>
  </p-menubar>
  <div class="flex-grow-1 overflow-hidden flex">
    <div class="h-full flex-grow-0" *ngIf="navigationVisible">
      @if (authStatus !== null && authStatus !== 0) {
      <div class="p-card p-component p-4 w-15rem h-full flex flex-column justify-content-between">
        <div class="flex flex-column row-gap-2">
          <p-button label="Appointments" icon="pi pi-list" severity="secondary"
            styleClass="w-full text-left white-space-nowrap" routerLink="appointments" />

          <p-button label="My Participations" icon="pi pi-list-check" severity="secondary"
            styleClass="w-full text-left white-space-nowrap p-overlay-badge overflow-visible"
            routerLink="my-participations">
            <p-badge *ngIf="unseenChanges$ | async as count" [value]="count" severity="danger" />
          </p-button>
          <p-button label="My Sports" icon="pi pi-globe" severity="secondary"
            styleClass="w-full text-left white-space-nowrap" routerLink="my-sports" />

          @if(isAdmin$ | async) {
          <p-divider />
          <p-button label="Dashboard" icon="pi pi-pen-to-square" severity="secondary" styleClass="w-full text-left"
            routerLink="/dashboard" />
          <!-- pi-chart-bar -->
          <p-button label="Images" icon="pi pi-images" severity="secondary" styleClass="w-full text-left"
            routerLink="/images" />
          }
        </div>
        <app-profile-summary></app-profile-summary>
      </div>
      }
    </div>
    <div class="h-full flex-grow-1 overflow-hidden">
      <router-outlet></router-outlet>
    </div>
  </div>


  <label class="sidebar-button" for="sidebarButton" *ngIf="participationSidebarService.isMinimized$ | async">
    <span class="pi pi-angle-left"></span>
  </label>
  <button hidden id="sidebarButton" (click)="participationSidebarService.open()"></button>

  <p-toast key="global" position="bottom-right"></p-toast>

  <p-sidebar [(visible)]="participationSidebarService.visible"
    (visibleChange)="participationSidebarService.change($event)" position="right" styleClass="w-30rem"
    showCloseIcon="false" #sidebar>
    <ng-template pTemplate="header">
      <h1 class="font-lighter m-0">Participants</h1>
      <button style="margin-left: auto !important;" class="p-ripple p-element p-sidebar-close p-sidebar-icon p-link"
        (click)="participationSidebarService.close()">
        <span class="pi pi-minus p-element p-icon-wrapper"></span>
      </button>
      <button class="p-ripple p-element p-sidebar-close p-sidebar-icon p-link"
        (click)="participationSidebarService.close(); clearParticipants()">
        <span class="pi pi-times p-element p-icon-wrapper"></span>
      </button>
    </ng-template>
    <app-participants></app-participants>
  </p-sidebar>
</div>

<p-confirmDialog />