<div class="h-full flex flex-column justify-content-center p-8">
  <div class="inset-shadow mb-8">
    <div class="margin-center flex p-4 gap-4 align-items-center overflow-auto nice-scrollbar">
      <p-button icon="pi pi-plus cursor-pointer" [rounded]="true" [text]="true" [raised]="true"
        (click)="openUpsDialog()" *ngIf="sportsLeft"></p-button>

      @for (ups of upses; track ups.id) {
      <app-ups-list-item [ups]="ups"></app-ups-list-item>
      }
    </div>
  </div>
  @if (upses.length === 0) {
  <p class="text-center">Click on "+" to add sports you play</p>
  }
</div>