<div class="h-full flex flex-column justify-content-center p-8">
  <div class="inset-shadow mb-8">
    <div class="flex p-4 gap-4 align-items-center overflow-auto nice-scrollbar">
      @if (sportsLeft) {
      <app-ups-list-item [ups]="null" class="cursor-pointer" (click)="openUpsDialog()"></app-ups-list-item>
      }
      @for (ups of upses; track ups.id) {
      <app-ups-list-item [ups]="ups"></app-ups-list-item>
      }
    </div>
  </div>
  @if (upses.length == 0) {
  <!-- <p>Here will be shown yours sports</p> -->
  <p>Click on "+" to add sports you play</p>
  }
</div>