<div class="w-full h-full flex flex-column justify-content-center align-items-center">

  @if (count != null && count == 0) {
  <p class="text-center">Here will be shown surfaces</p>
  }
  <div class="max-h-25rem overflow-auto nice-scrollbar px-4 w-25rem">
    @if (count != null){
    @if (count == 0) {
    <p-skeleton width=" 100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width=" 100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width=" 100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width=" 100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width=" 100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width=" 100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    <p-skeleton width="100%" styleClass="mb-2" height="2rem" />
    } @else {

    }
    }
  </div>
  <p-inputGroup class="w-unset" styleClass="w-unset mt-4">
    <input type="text" pInputText placeholder="Surface" [(ngModel)]="name" (keydown.enter)="createSurface()" />
    <button type="button" pButton label="Add" icon="pi pi-angle-right" iconPos="right"
      (click)="createSurface()"></button>
  </p-inputGroup>
</div>