.disabled {
  position: relative;
  opacity: .7;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   z-index: 99;
  //   inset: 0;
  //   border-radius: 12px;

  //   background-color: rgba(0, 0, 0, .1);
  // }
}

.wrapper {
  position: relative;
  cursor: pointer;

  padding: 1rem;
  color: #334155;
  width: 15rem;

  p {
    margin: 0 auto;
  }

  .header {
    font-size: 2.5rem;
    font-weight: 600;

    background-color: lightgray;
    background-color: gray;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

    margin-bottom: 1rem;
  }

  .time {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .bell {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-200%, -50%);
  }
}